#Temporal relation Properties
generated_properties=100
models_directory=models/debugger/models2015
log_out_directory=expr_output
working_directory=relational_props
temporary_directory=relational_props/tmp
relational_properties=models/debugger/models2015/relational_properties.als
processes_number=2
remote_monitor_interval=5000
remote_timeout_retry=0
process_logger_config=resources/java.logger.remote.config
sub_memory=1024
sub_stak=8192
self_monitor_interval=2500
self_monitor_retry_attempt=2
self_monitor_done_ratio=1
min_port=49152
max_port=65535
max_feed_treashold=50
is_resume_processing=true
reporter_refresh_rate=5000